<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>Filter.loginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>homeFilter</filter-name>
        <filter-class>Filter.homeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdminController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <servlet-name>HomeController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>homeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveSearch</servlet-name>
        <servlet-class>Servlet.LiveSearch</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>PageController</servlet-name>
        <servlet-class>Controllers.PageController</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controllers.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveSearch</servlet-name>
        <url-pattern>/LiveSearch</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>PageController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
